/*
 * Mobile Menu
 */
@media all and (min-width: 767px) { 
    .slicknav_menu {
        display: none;
    }
}

#paira-welcome {
    padding: 135px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	position: relative;

	&::before {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .4);
		position: absolute;
		top: 0;
		left: 0;
	}
	.paira-welcome-inner {
		position: relative;
		text-align: center;
		
		.welcome-title {
			color: #fff;
		}
	}		
}
